header#colorNav {
    background: #42984F;
    opacity: 1;
    height: 40px;
}

a#fs14 {
    font-size: 14px;
    padding: 0;
}

p#line1 {
    margin: 0%;
    padding: 0%;
    width: 50px;
    height: 5px;
}

span#circle {
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding-top: 10px;
    background-color: #FFFFFF;
}

section#fundo {
    background-image: url("/images/fundo-23.png");
    opacity: 1;
    background-repeat: no-repeat;
    min-height: 822px;
}

header#caixaText {
    top: 873px;
    left: 397px;
    width: 527px;
    height: 591px;
}

p#line2 {
    margin: 0%;
    padding: 0%;
    width: 150px;
    height: 5px;
}

div#fundo2 {
    background-image: url("/images/Grupo-22.png");
    height: 623px;
}

img#prod {
    width: 270px;
    height: 270px;
}

ul#footer {
    font-family: 'monts500';
    font-size: 14px;
    color: #FFFFFF;
}