header#colorNav {
    background: #42984F;
    opacity: 1;
    padding-top: 3px;
    padding-bottom: 3px;
}

a#fs14 {
    font-size: 14px;
    padding: 0;
}

header#fundo {
    min-width:none ;
    min-height: auto;
    max-height: 666px;
    background: transparent linear-gradient(180deg, var(--unnamed-color-42984f) 0%, #43BF58 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #42984F 0%, #43BF58 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

p#line1{
    margin: 0%;
    padding: 0%;
    width: 50px;
    height: 5px;
}