header#colorNav {
    background: #42984F;
    opacity: 1;
    padding-top: 3px;
    padding-bottom: 3px;
}

a#fs14 {
    font-size: 14px;
    padding: 0;
}

header#fundo {
    background: rgb(255, 255, 255);
    background: linear-gradient(10deg, rgba(255, 255, 255, 1) 36%, rgba(67, 191, 88, 1) 37%, rgba(66, 152, 79, 1) 86%);
}

p#line1 {
    margin: 0%;
    padding: 0%;
    width: 50px;
    height: 5px;
}

div#parallax {
    min-height: 400px;
    background-image: url("/images/Grupo-20.png");
    background-attachment: fixed;
    background-position: bottom;
}