div#windows {
    width: 1920px;
    height: 1080px;
}

div#layoutNavSearch {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 40px;
}

header#editNavSearch {
    background: #42984F 0% 0% no-repeat padding-box;
    opacity: 1;
}

img#tmLogo {
    top: 50px;
    left: 397px;
    width: 150px;
    height: 100px;
}

img#carousel {
    top: 160px;
    left: 0px;
    width: 1920px;
    height: 600px;
}

h1#lemon {
    top: 0px;
    left: 0px;
    width: 247px;
    height: 79px;
    font: var(--unnamed-font-style-normal) normal 900 65px/var(--unnamed-line-spacing-43) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1e1e1e);
    text-align: left;
    font: normal normal 900 65px/43px Montserrat;
    letter-spacing: 0px;
    color: #1E1E1E;
}

h2#text2 {
    top: 79px;
    left: 0px;
    width: 424px;
    height: 43px;
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-35)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1e1e1e);
    text-align: left;
    font: normal normal bold 35px/43px Montserrat;
    letter-spacing: 0px;
    color: #1E1E1E;
}

h3#text3 {
    top: 0px;
    left: 0px;
    width: 553px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1e1e1e);
    text-align: left;
    font: normal normal normal 20px/18px Montserrat;
    letter-spacing: 0px;
    color: #1E1E1E;
}

h4#text4 {
    top: 72px;
    left: 0px;
    width: 373px;
    height: 18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1e1e1e);
    text-align: left;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
}

header#fundo {
    background-image: url("/images/fundo-23.png");
    top: 760px;
    left: 0px;
    width: 1920px;
    height: 822px;
    border: 1px solid #707070;
    opacity: 1;
    background-repeat: no-repeat;
}

header#caixaText {
    top: 873px;
    left: 397px;
    width: 527px;
    height: 591px;
}

h1#text5 {
    width: 447px;
    height: 73px;
    font: var(--unnamed-font-style-normal) normal 900 60px/73px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 900 60px/73px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

h4#text6 {
    width: 527px;
    height: 168px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

h4#text7 {
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

header#fundo2 {
    background-image: url("/images/Grupo-22.png");
    top: 1580px;
    left: 0px;
    width: 1920px;
    height: 623px;
}

img#imgs{
    
    width: 270px;
    height: 270px;
    opacity: 1;
}